* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  -webkit-touch-callout: none; /* Evita el menú contextual en iOS */
  -webkit-user-select: none; /* Evita la selección de texto en iOS */
  -webkit-tap-highlight-color: transparent; /* Elimina el resaltado al tocar en iOS */
  font-family: 'Arial', sans-serif;
}

/* Asegurar que la aplicación funcione bien en dispositivos móviles */
@media (max-width: 768px) {
  body {
    -webkit-text-size-adjust: 100%; /* Evita el ajuste automático de texto en móviles */
  }
}
